#main {
  background-color: rgb(43, 49, 61);
  color: white;
}
#today-time {
  color: rgb(166, 216, 255);
}
/* #top{
    background-color: violet;
}
#top #clock{
    background-color: yellow;
}
#top #today-time{
    background-color: teal;
} */

#calendar {
  /* background-color: turquoise; */
  border-color: rgb(95, 97, 101);
}
/* #calendar_top{
    background-color: brown;
}

.calender-content{
    background-color: darkblue;
}

#description{
    background-color: cornflowerblue;
}

#week{
    background-color: cyan;
} */
/* table{
    background-color: navy;
} */

.calender-content td {
  border-color: rgb(43, 49, 61);
  /* background-color: blueviolet; */
}
.calender-content td:hover {
  border-color: rgb(95, 97, 101);
  /* background-color: blueviolet; */
}
/* .item{
    background-color: rgb(49, 119, 90);
} */
/* .button{
    background-color: wheat;
} */

.not-now {
  color: rgb(95, 97, 101);
}

.month-content td {
  border-color: rgb(43, 49, 61);
  /* background-color: blueviolet; */
}
.month-content td:hover {
  border-color: rgb(95, 97, 101);
  /* background-color: blueviolet; */
}

.calender-content .curdate-item {
  border-color: rgb(0, 120, 215);
}

.calender-content .curdate-item:hover {
  border-color: rgb(102, 174, 215);
}

.calender-content .curdate {
  background-color: rgb(0, 120, 215);
  border-color: rgb(43, 49, 61);
}

.month-content .curmonth-item {
  border-color: rgb(0, 120, 215);
  background-color: rgb(0, 120, 215);
}

.month-content .curmonth-item:hover {
  border-color: rgb(102, 174, 215);
}

/* .calender-carousel {
  background-color: blanchedalmond;
} */

/* .carousel-container {
  background-color: brown;
} */

.clickable {
  color: rgb(223, 223, 223);
}

.clickable:hover {
  color: white;
}

.clickable:active {
  color: rgb(223, 223, 223);
}

#today-time:hover {
  color: rgb(169, 169, 169);
}

#today-time:active {
  color: rgb(95, 97, 101);
}

/* .arrow {
  background-color: wheat;
} */
