*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;   
}
#main{
    width: 360px;
    height: 455px;
}
#top{
    padding: 25px;
    width: 310px;
    height: 60px;
}
#top #clock{
    width: 165px;
}
#top #todayTime{
    width: 165px;
    padding-top: 15px;
}
#calendar{
    border-top: solid 1px;
    padding: 0 12px;
    width: 336px;
    height: 344px;
}
#calendar_top{
    width: 100%;
    height: 27px;
}
#calender_content{
    width: 100%;
    height: 259px;
}

#description{
    padding-left: 13px;
    height: 37px;
    display: float;
}

#week{
    width: 100%;
    height: 48px;
    display: flex;
}
.item{
    width: 48px;
    height: 37px;
    text-align: center;
}
.button{
    width: 48px;
    height: 37px;
    text-align: center;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}


#calender_content td{
    border: solid 2px;
    width: 42px;
    text-align: center;
}

.content{
    width: 336px;
    height: 317px;
    position: relative;
}

.month_content{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.month_content td{
    border: solid 2px;
    width: 42px;
    text-align: center;
}


